.formControl {
    width: 100%;
    max-height: 140px;
    position: relative;
    padding-bottom: 20px;
}
.hasError textarea, .hasError input {
    border: 2px solid red;
}
.errorMessage {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}
span.errorMessage {
    margin-left: 10px;
}
.wideInput, .wideTextarea {
    border-radius: 15px;
    font-size: 1.3em;
    border: 2px solid cornflowerblue;
    outline: none;
    width: 100%;
}
.wideInput {
    height: 40px;
    padding: 10px 0 0 10px;
}
.wideTextarea {
    height: 100px;
    padding: 15px 0 0 10px;
}
.innerText {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: .7em;
    color: gray;
}