.left {
    grid-area: lb;
    
  }
.right {
    grid-area: rb;
    
  }
  .navbar {
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
    padding: 40px 0;
    font-size: 1.5em;
  }
  .icon {
    color: #A2A6C3;
  }
  .active .icon {
    color: #FE5E3A;
  }