.profileForm {
    background-color: white;
    margin: 30px 15px;
    padding: 40px 20px 40px 40px;
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact {
    width: 23%;
    margin: 10px 20px 0 0;
  }
  .formRow {
    display: flex;
    white-space: nowrap;
  }
  .shortInput {
    width: 23%;
  }
  .aboutMe {
    width: 48%;
  }
  .buttons {
    text-align: center;
  }
  .bottomSection {
    padding-bottom: 40px;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .bigCheckbox {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }