.user {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    background-image: url("./../../../../images/user-logo.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.postText {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.postInfo {
    text-align: right;
    margin-top: 10px;
}
.post {
    margin: 10px 0;
    width: 90%;
    border: solid 1px cornflowerblue;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 15px;
}