.loginPage {
    display: flex;
    height: 100%;
}
.loginForm {
    position: relative;
    background-color: linen;
    border: 1px solid grey;
    box-shadow: 5px 5px 15px gray;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    padding-bottom: 10px;
}
.formRow {
    width: 60%;
}
.checkbox {
    height: 20px;
    width: 20px;
}
.labelForCheckbox {
    font-size: 1.2em;
}
.errorMessage {
    position: absolute;
    top: 45px;
    color: red;
}