.loginPage {
    display: flex;
    height: 100%;
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('../../images/people-pattern.jpg');
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FA603E;
    opacity: .9;
  }
  .greetingText {
      margin-left: 15%;
      color: white;
      width: 30%;
  }
  .greetingTitle {
      font-weight: 100;
      font-size: 2.2em;
  }
  .header {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
}
.loginForm {
    position: relative;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    width: 27%;
    align-items: flex-start;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}
.formRow {
    width: 100%;
    
}
.checkbox {
    height: 15px;
    width: 15px;
    outline: none;
    background-color: #A2A6C3;
}
.labelForCheckbox {
    font-size: 1.2em;
    color: #A2A6C3;
}
.wrapper .loginForm .button {
    margin-top: 20px;
    background-color: #FA603E;
    color: white;
}
.wrapper .loginForm .button:hover {
    background-color: #eb3a13;
    color: white;
}
.errorMessage {
    position: absolute;
    top: 60px;
    color: red;
}