.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.article {
    background-color: white;
      margin: 15px;
      border: 1px solid lightgray;
      border-radius: 3px;
      flex-basis: 40%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #A2A6C3;
}
.title {
    color: #404257;
    font-size: 1.5em;
}
.semiTitle {
    font-weight: bold;
    color: #404257;
}
.image {
    width: 100%;
}
